.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  padding: 16px 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards > ul a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.cards-card-body h5 {
  color: dimgray;
  display: block;
  font-size: 14px;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 260px;
}

.cards-card-body .button-container {
  margin: 0;
}

.cards-card-body .button-container a {
  margin: 0;
  background: unset;
  padding: 0;
}

.cards-card-body p {
  font-size: 14px;
  line-height: 22px;
  color: dimgray;
  display: block;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 260px;
}
