.artists>ul {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% /4 - 8px), 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 8px;
    justify-items: center;
}

.artist-image img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 50%;
    height: 164px;
    width: 164px;
}

main .artist-name-wrapper {
    text-align: center;
    margin-top: 27px;
}
main h3.artist-name {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 24px;
}

main .artist-name-wrapper p {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 14px;
    text-transform: uppercase;
}