.artists {
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4 - 8px), 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 2em 8px;
  justify-items: center;
}

.artists img {
  width: 180px;
  height: 187px;
  border-radius: 50%;
}

.artists > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artists > div > div:nth-child(2) h5 {
  text-transform: uppercase;
  font-size: 13px;
  color: dimgray;
}

.artists > div > div:nth-child(2) h3 {
  font-size: 21px;
}
