footer {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer > div > div {
  display: flex;
  justify-content: space-between;
}

.footer > div > div > ul > li {
  display: inline-block;
}

.footer > div > div ul > li > a {
  color: #fff;
  font-size: 18px;
  padding: 20px;
}
.footer > div > div > ul {
  list-style: none;
}

footer picture img {
  width: 180px;
}
